#form-container {
	margin: 5px auto;
	width: 400px;
}

#login, #register {
	background-color: #4F4FBF;
	color: #FFFFFF;
	display: block;
	margin: 0 auto;
}

#logo {
	display: block;
	margin: 0 auto;
}

#buttons-group input {
	background-color: #7F7FEF;
	color: #FFFFFF;
	display: block;
	margin: 12px auto;
}

#login-form #inputs-group {
	display: block;
	margin: 7px auto;
}

#buttons-group, #inputs-group {
	margin: 7px;
}